@media (max-width: 768px) {
  :host {
    .education {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;
      padding-left: 2rem;

      &::before {
        left: 0.5rem;
        height: 10px;
      }
    }

    .education-title {
      //   color: var(--accent);
      font-size: 1.4rem;
      line-height: 1.4rem;
      padding: 0;
    }

    .education-info {
      padding: 0;
      gap: 0.5rem;
      color: var(--text);
      .institution {
        font-size: 1.2rem;
        line-height: 1.2rem;
      }

      flex-direction: column;
      span {
        display: none;
      }
    }
  }
}
