:host {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  .languages {
    position: fixed;
    top: 1rem;
    right: 2rem;
    a {
      font-family: axis;
      text-decoration: none;
      color: var(--primary);

      &:not(.active):hover {
        color: var(--accent);
      }

      &.active {
        color: var(--text);
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    overflow: auto;

    .languages {
      top: 1rem;
      right: 1rem;
      gap: 0.5rem;
    }
  }
}
