:host {
  width: 210mm;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  background-color: var(--bg);

  main {
    padding-left: 16mm;
    padding-top: 8mm;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .line {
    position: absolute;
    left: 8mm;
    top: 10mm;
    bottom: 10mm;
    width: 1mm;
    background-color: var(--complementary);
  }
}
