:host {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  info {
    border-right: var(--border);
    padding-right: 2rem;
  }

  .sections-nav {
    padding: 0 2rem;

    button {
      cursor: pointer;
    }
  }

  .sections-nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    button {
      background: none;
      border: none;
      height: 3rem;
      aspect-ratio: 1;
      fill: var(--accent);
      position: relative;

      .tooltip {
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% 0;
        font-family: sans-serif;
        color: var(--text);
        margin-top: 0;
        opacity: 0;

        &::before {
          content: "";
          position: absolute;
          bottom: 100%;
          height: 10px;
          width: 100%;
        }
      }

      &.active {
        fill: var(--text);
      }

      &#btn-experience,
      &#btn-projects {
        padding: 3px;
      }

      &:hover {
        fill: var(--text);
        .tooltip {
          display: block;
          margin-top: 3px;
          opacity: 1;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }

  main {
    overflow-y: auto;
    scroll-behavior: smooth;

    padding-right: 2rem;

    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--accent);
      &:hover {
        background-color: var(--text);
      }
    }

    // .bottom-padding {
    //   height: 80%;
    // }
  }
}
