:host {
  .position {
    font-family: axis;
    color: var(--primary);
    font-size: 1.3rem;
  }

  .company {
    font-family: sans-serif;
    font-weight: 600;
    color: var(--text);
    font-size: 0.9rem;
    color: var(--complementary);
  }

  .location {
    font-family: sans-serif;
    color: var(--text);
    font-size: 0.9rem;
  }

  .description {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    font-weight: 600;
    margin: 0.5rem 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;
    li {
      font-size: 0.85rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      margin-left: 1rem;
      color: var(--text);
    }
  }
}
