:host {
  width: 80mm;
  .profile-pic {
    max-width: 100%;
  }

  .about {
    background: linear-gradient(0, var(--complementary), var(--primary));

    h1,
    h2 {
      font-family: axis;
      color: white;
    }

    h1 {
      text-align: center;
    }

    h2 {
      font-size: 2;
    }

    p {
      color: whitesmoke;
      font-family: sans-serif;
    }

    .birth {
      color: white;
      font-family: sans-serif;
      text-align: center;
    }

    .contact {
      color: whitesmoke;
      padding-left: 1rem;
      font-family: sans-serif;
      cursor: pointer;
      text-decoration: none;

      img {
        width: 2rem;
        aspect-ratio: 1;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
