<ng-container *ngIf="data$ | async as data">
  <div class="profile-frame noshrink">
    <div class="profile-bg">
      <img src="assets/profile_pic_2025_tr.png" alt="profile picture" />
    </div>
  </div>

  <div class="flex-column-flex1 gap50">
    <h1 class="name">{{data.info.name}}</h1>
    <h3 class="details">{{data.info.region}} | {{data.info.birthYear}}</h3>

    <ul class="flex-column gap50 mary150">
      <li *ngFor="let contact of data.contactList">
        <a
          [href]="contact.link"
          target="{{contact.type !== 'phone' ? '_blank' : ''}}"
          class="contact flex-aligned gap50"
        >
          <span [svgIcon]="contact.icon"></span>
          <span>{{contact.label}}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="flex-column-gap100">
    <button class="download-cv-btn flex-gap50 aligned-justified">
      <span class="icon">download</span>
      <span>Download CV</span>
    </button>

    <div class="languages flex-justified gap100">
      <a routerLink="/en" routerLinkActive="active">EN</a>
      <span>|</span>
      <a routerLink="/ro" routerLinkActive="active">RO</a>
    </div>
  </div>
</ng-container>
