:host {
  gap: 2rem;
  .profile-frame {
    width: 100%;
    aspect-ratio: 1;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-bg {
      width: 80%;
      aspect-ratio: 1;
      background-color: var(--primary);
      position: relative;
      img {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }
  .name,
  .details {
    font-family: axis;
    font-size: 1.5rem;
    text-align: center;
  }

  .details {
    font-size: 1rem;
  }

  .download-cv-btn {
    cursor: pointer;
    border: var(--border);
    text-decoration: none;
    background: none;
    padding: 0.5rem;
    color: var(--text);

    &:hover {
      border: 6px solid var(--text);
    }

    &:active {
      border: var(--border);
      color: var(--accent);
    }
  }

  ul li {
    list-style: none;
    a {
      color: var(--text);
      text-decoration: none;
      font-family: sans-serif;
      font-size: 0.9rem;

      .svg {
        width: 2rem;
        fill: var(--accent);
        border: 2px solid var(--accent);
        border-radius: 50%;
        padding: 5px;
      }

      &:hover {
        text-decoration: underline;
        .svg {
          fill: var(--text);
        }
      }
    }
  }

  .languages {
    a {
      font-family: axis;
      text-decoration: none;
      color: var(--primary);

      &:not(.active):hover {
        color: var(--accent);
      }

      &.active {
        color: var(--text);
      }
    }
  }
}
