@media (max-width: 767px) {
  :host {
    gap: 2rem;

    .categ {
      text-indent: 0;
    }

    .skills {
      padding: 0;
      gap: 0.5rem;
      flex-direction: column;

      justify-content: center;
      flex-wrap: nowrap;

      .label {
        width: 100%;
        text-align: center;
      }
    }
  }
}
