:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  overflow-y: auto;
  scroll-behavior: smooth;
  padding-right: 2rem;

  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    &:hover {
      background-color: var(--text);
    }
  }

  .section {
    flex-shrink: 0;
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  :host {
    overflow-y: unset;
    padding: 0 1.5rem;
  }
}
