:host {
  button {
    img {
      width: 1.8rem;
      aspect-ratio: 1;
    }
  }
  a {
    width: 1.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    &.language {
      opacity: 0.5;
    }
    img {
      height: 100%;
      object-fit: cover;
    }

    &.active {
      border: 2px solid var(--primary);
      opacity: 1;
    }
  }
}
