*,
*::after,
*::before {
  min-height: 0;
  min-width: 0;
}



html,
body {
  display: flex;
  flex-direction: column;
}

html{
  height: 100%;
}

body {
  flex: 1;
}

@for $i from 0 through 10 {
  [class*="gap#{$i * 25}"] {
    gap: #{$i * 0.25}rem;
  }
  [class*="flex#{$i}"] {
    flex: $i;
  }
}

[class*="flex"] {
  display: flex;
}

[class*="row"] {
  flex-direction: row;
}

[class*="column"] {
  flex-direction: column;
}

[class*="centered"] {
  justify-content: center;
  align-items: center;
}

[class*="justified"] {
  justify-content: center;
}

[class*="aligned"] {
  align-items: center;
}

[class*="spaced"] {
  justify-content: space-between;
}

[class*="noshrink"] {
  flex-shrink: 0;
}

.test {
  background-color: orange;
  border: 2px solid red;
}
