:root {
  // --primary: #723d46;
  // --complementary: #472d30;
  // --accent: #e26d5c;
  // --text: #ffe1a8;

  --bg: #16151a;
  --primary: #424252;
  --complementary: #6488ca;
  --accent: #b9966d;
  --text: #e6e2dc;

  --border: 6px solid var(--accent);
}

html {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  line-height: 1.3em;
}

@font-face {
  font-family: "axis";
  src: url(./assets/Axis\ Extrabold.otf);
}

.svg {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 100%;
  }
}
